<form (ngSubmit)="emitResult()">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input
            [(ngModel)]="data"
            name="data"
            placeholder="0"
            type="number"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-button
          shape="round"
          expand="block"
          [disabled]="data === null || undefined"
          type="submit"
        >
          Ver Resultado
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
