.page-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Asegura que ocupe toda la pantalla */
}

ion-card-header {
  text-align: center;
}
